# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Spark
spark-warehouse/

# Logs
*.log
logs/

# Parquet Files
*.parquet

# CSV Files (Optional)
# data/

# Mac
.DS_Store

# Windows
Thumbs.db